#context-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

#context-menu .context-menu__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
  width: 200px;
  height: fit-content;
  display: block;
  padding: 4px;
  border-radius: 2.5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
  background-color: #f9fafc;
  border: 1px solid #e0e0e0;
}

#context-menu .context-menu__content .context-menu__item {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
  height: 35px;
  border-radius: 2.5px;
  border: 1px solid #f9fafc;
  cursor: pointer;
}

#context-menu .context-menu__content .context-menu__item .icon {
  margin-left: 10px;
}

#context-menu .context-menu__content .context-menu__item.active,
#context-menu .context-menu__content .context-menu__item:hover {
  background-color: #c7e0f5;
}

#context-menu .overplay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
}